# macos
.DS_Store

# Sublime Text
*.sublime-project
*.sublime-workspace

# meson
meson-info
meson-logs
meson-private
meson-uninstalled

# meson subprojects
app/subprojects/imgui-1.88
app/subprojects/packagecache
app/*.ini

# conan
conanbuildinfo.txt
conaninfo.txt
conan.lock
graph_info.json
*.pc

# ninja
.ninja_deps
.ninja_log
*.ninja

# Compilation Database
compile_commands.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
